<nav class="bg-black text-gray-400 px-10 py-4 flex justify-between font-bold " >
  
    <p>instagram</p>
    <div class="flex gap-4 " >
      <div class="hover:text-white cursor-pointer">
        <%= link_to "Home", root_path %>
      </div>
      <div class="hover:text-white cursor-pointer">About</div>
      <div class="hover:text-white cursor-pointer">Service</div>
      <div class="hover:text-white cursor-pointer"  >Contact</div>
    </div>
  
</nav>